

.settings-page {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 50px;
}

.settings-back-icon-wrapper {
    position: absolute;
    width: 50px;
    height: 50px;

    top: 0;
    right: 0;
    margin: 20px;
    filter: invert(1);

    cursor: pointer;

    transition: opacity 200ms ease-in-out;
    &:hover{
        opacity: 0.5;
    }
}

.settings-content {
    width: 500px;

    font-size: 16pt;
}

.settings-entry {
    margin-top: 10px;
    width: 100%;
    aspect-ratio: 8;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;

    padding: 5px 12px;
    justify-content: space-between;

    border-radius: 5px;
    background-color: rgba(18, 19, 29, 0.655);


    input {
        color: white;
        font-size: 16pt;
        text-align: center;
        outline: none;

        &:focus {
            border: 2px solid rgb(36, 41, 50);
            outline: none;
            color: gray;
        }

        &[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

.settings-entry-box {
    height: 100%;
    aspect-ratio: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    border: 2px solid rgb(53, 72, 109);
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 250ms ease-in-out;

    &:hover {
        opacity: 0.5;
    }

    background-color: rgba(0,0,0,0);
}