

.settings-page {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 50px;
}

.settings-back-icon-wrapper {
    position: absolute;
    width: 50px;
    height: 50px;

    top: 0;
    right: 0;
    margin: 20px;
    filter: invert(1);

    cursor: pointer;

    transition: opacity 200ms ease-in-out;
    &:hover{
        opacity: 0.5;
    }
}


.settings-content {
    width: 500px;

    font-size: 16pt;
}

.settings-entry {
    margin-top: 10px;
    width: 100%;
    aspect-ratio: 8;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;

    padding: 5px 12px;
    justify-content: space-between;

    border-radius: 5px;
    background-color: rgba(18, 19, 29, 0.655);


    input {
        color: white;
        font-size: 16pt;
        text-align: center;
        outline: none;

        &:focus {
            border: 2px solid rgb(36, 41, 50);
            outline: none;
            color: gray;
        }

        &[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

.settings-entry-box {
    height: 100%;
    aspect-ratio: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    border: 2px solid rgb(53, 72, 109);
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 250ms ease-in-out;
    background-color: rgba(0,0,0,0);

    &:hover {
        opacity: 0.5;
    }
}


@media screen and (max-height: 500px) {
    .settings-content {
        width: 300px;
        font-size: 11pt;
    }

    .settings-entry {
        input {
            font-size: 11pt;
        }
    }
}

// ===== Fancy checkbox adapted from: https://stackoverflow.com/questions/68789475/how-can-i-style-checkbox-with-css
.settings-entry input {
    &[type=checkbox]::before {
        content: "";
        color: transparent;
        display: block;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        border: 0;
        background-color: transparent;
        background-size: contain;
        box-shadow: inset 0 0 0 2px rgb(53, 72, 109);
      }

    &[type=checkbox] {
        color: rgb(53, 72, 109);
        vertical-align: middle;
        -webkit-appearance: none;
        background: none;
        border: 0;
        outline: 0;
        flex-grow: 0;

        border-radius: 50%;
        background-color: #121023;
        transition: background-color 300ms;
        cursor: pointer;
      }

    &[type=checkbox]:checked {
        background-color: currentcolor;
    }

    &[type=checkbox]:checked::before {
        box-shadow: none;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
    }
}
