.button-mapping-pair-wrapper {
    height: 70px;
    width: min-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    // border: 2px solid black;
    // border: 1px solid rgba(141, 141, 42, 0.562);
    background-color: rgba(18, 19, 29, 0.655);
    border-radius: 5px;
}

.button-mapping-switcheable {
    height: 100%;
    aspect-ratio: 1;

    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    border: 2px solid rgb(53, 72, 109);
    border-radius: 5px;

    cursor: pointer;
    transition: opacity 250ms ease-in-out;

    &:hover {
        opacity: 0.5;
    }
}


.modifier-plus-wrapper {
    height: 100%;
    aspect-ratio: 1;
    display: flex;

    justify-content: center;
    align-items: center;
    filter: invert(1);

    img {
        height: 35%;
    }
}