.modifier-replacement-wrapper {
    height: 20%;

    display: flex;
    flex-direction: row;

    justify-content: end;
    align-items: center;

    max-height: 70px;
}

.modifier-mapping-switcheable-wrapper {
    height: 100%;
    aspect-ratio: 1;

    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    border: 1px solid black;
    cursor: pointer;
    transition: opacity 250ms ease-in-out;

    &:hover {
        opacity: 0.5;
    }
}

.modifier-plus-wrapper {
    height: 100%;
    aspect-ratio: 1;
    display: flex;

    justify-content: center;
    align-items: center;
    filter: invert(1);

    img {
        height: 35%;
    }
}