
.paddle-mapping-wrapper {
    display: flex;
    flex-direction: row;

    justify-content: end;
    align-items: end;

    gap: 5px;

    width: min-content;
}

.paddle-column {
    display: flex;
    flex-direction: column;
    gap: 5px;

    > .button-mapping-pair-wrapper {
        border: 0;
    }
}
