* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #263238;

  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.responsive-image {
  width: auto;
  height: 100%;
}

.responsive-image-w {
  width: 100%;
  height: auto;
}