.spell-entry {
    position: relative;

    height: 100%;
    aspect-ratio: 1;
    background-color: #050c17;

    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 10px;
}

.spell-entry .spacing {
    height: 15%;
}

.image-wrapper {
    display: flex;
    width: auto;
    height: 60%;
}

.text-wrapper {
    z-index: 1;
    text-align: center;
    font-size: 1cqw;
}

.buttoncombo-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    height: 30%;


    // width: 20px;
    // height: 20px;

    // background-color: green;
}