.spellbar-spells {
    display: flex;
    flex-direction: row;

    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(141, 141, 42, 0.562);
    border-radius: 5px;

    width: 80%;
    height: 200px;

    padding: 10px;
    gap: 10px;
}


.spellbar {
    display: flex;
    flex-direction: row;

    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(141, 141, 42, 0.562);
    border-radius: 5px;

    width: 90%;
    height: 200px;
}