.spellbar-spells {
    display: flex;
    flex-direction: row;

    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(141, 141, 42, 0.562);
    border-radius: 5px;

    width: 90%;
    height: 200px;

    padding: 10px;
    gap: 10px;

    overflow-x: auto;
    &::-webkit-scrollbar { height: 3px; background-color: #11171b;}
    &::-webkit-scrollbar-thumb { background-color: #54646f; }
}


.spellbar {
    display: flex;
    flex-direction: row;

    border-radius: 5px;

    width: 100%;
    height: 200px;


    align-items: end;
}

.delete-spell-area {
    flex-grow: 1;
    height: 80px;
    margin: 5px;
    padding: 10px;

    border: solid 3px rgb(77, 36, 31);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 200ms ease-in-out;

    &.over {
        background-color: red;
    }
}